*~backup-*
.c9revisions
.c9
.git
.svn
.bzr
.cdv
~.dep
~.dot
~.nib
~.plst
.hg
.pc
/dev

.DS_Store
.AppleDouble
.LSOverride
Icon

._*
.tmp
.sass-cache
*.log
*.pem
*.key

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.sublime-project
*.sublime-workspace

*.iml
.idea

public/bower_components

/vendor
.env